    <table class='table table-dark'>
        <thead>
            <th>Materia</th>
            <th>Nota</th>
        </thead>
        <tbody *ngIf="materias.length > 0; else fila">
            <tr *ngFor=" let materia of materias">
                <td>{{materia.nombreMat}}</td>
                <td>{{materia.notafinalnum}}</td>
            </tr>
        </tbody>
        <ng-template #fila>
            <tbody>
                <tr>
                    <td colspan="4">No hay materias aprobadas</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
    <a class="btn btn-danger" routerLink="../home">Volver</a>